*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}
body{
    background-color: #1b1b1b;
}
.navbar{
    background: black;
    position: fixed;
    display: flex;
    padding: 0 100px;
    width: 100%;
    height:65px;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
     box-shadow: 0px 0px 10px rgb(0,0,0,.5);
}


.nav ul{
 display: flex;
}
.nav ul li{
    list-style: none; 
    
}
.nav ul li a{
    text-decoration: none;
    color:white;
    font-size: 14px;
    margin:0 10px;
    font-family: sans-serif;
    padding: 10px 25px;
    border-radius: 1rem;
    transition: .2s;
}
.nav ul li a.active{
    background:rgb(131, 2, 252);
    width: 250px;
    padding: 10px 25px;
    height: 250px;
    border-radius: 1rem;
    color: white;
}
.nav ul li a:hover{
    background:rgb(133, 2, 255);
    color: white;
}
.logo{
    font-size: 30px;
    font-family: 'Agbalumo',sans-serif;
    color:rgb(3, 212, 136);
    font-weight: bolder;
}
.hamburger{
display: none;
}
#Home{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.75)),url(pexels-olia-danilevich-4974912.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    
}
.content{
align-items: center;
margin: 15% 0 auto;
    
}
.content p{
    color:whitesmoke;
    font-family: 'poppins',sans-serif;
    font-weight: 200;
    font-size: 20px;
    margin: 50px 100px ;
}
.btn{
    background-color:gainsboro ;
    padding: 18px 30px 18px 30px;
    border: none;
    border-radius: .5rem;
    font-size: 14px;
    font-family: 'poppins',sans-serif;
    cursor: pointer;

    margin-left: 40%;
    color: black;
    text-decoration: none;
}
.btn:hover{
    background-color:rgb(149, 41, 251) ;
    
}
#About{
    padding-top: 40px;
    height: 100vh;
    width: 100vw;
    
}
.about-content{
 
    top: 35%;
    display: flex;
    margin:5% 10% auto;
}
.about-left{
    width: 50%;
    height: 100vh;
}
.about-right{
    width: 50%;
    text-align: center;
}
.about-img{
    height: 300px;
    width: 450px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10%;
    cursor: pointer;
    
    
}
.about-content p{
    color:whitesmoke;
    font-size: 18px;
    font-weight: 200;
    font-family: 'poppins',sans-serif;
    padding:6% 0 ;
   
    
}

#Courses{
    padding-top: 50px;
    height: 100%;
    width: 100%;
    align-items: center;
    
}
.courses{

    width: 80%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: grid;
    margin:7% auto ;
    padding: 0 0 40px 0;
    grid-gap:40px;
    grid-template-columns: 1fr 1fr 1fr;
   
    
}
.card{
    height:350px;
    width: 250px;
    background-color:rgb(41, 41, 41);
    border-radius: .5rem;
    border: solid antiquewhite .1px;
    text-align: center;
    font-family:'poppins',sans-serif;
    transition: .2s; 
    cursor: pointer;
    
    
}
.card:hover{
    box-shadow: 0 10px 14px rgb(30, 30, 30);
    background-color:rgb(32, 31, 31);

}
.card p{
    color:antiquewhite;
    margin: 6% 0;
    
}

.card-btn{
    text-decoration: none;
    font-size: 10px;
    color:black;
    background-color:gainsboro;
    padding: .8rem 1.5rem .8rem 1.5rem;     
    border-radius: .3rem;
    transition: .2s;
}

.card-btn:hover{
    background-color:rgb(136, 10, 254) ;
    color: white;
}
.card-img{
    height: 50%;
    width:100%;
    border-radius:.2rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
    


#Contacts{
    padding-top: 50px;
    height: 100vh;
    width: 100vw;
    
}
h1{ color:rgb(3, 212, 136);
    font-family: 'poppins',sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin: 20px;
    letter-spacing: 1px;
}


@media only screen and (max-width:767px){
  .nav{
    padding: 0 50px;
  }  
  

}
@media only screen and (max-width:1100px){
    .nav{
      padding: 0 30px;
    }  
  
  }
  @media only screen and (max-width:900px){
    .hamburger{
      display: block;
      cursor: pointer;
    }  
    .hamburger .line{
        background:whitesmoke;
        height: 3px;
        margin: 5px 0;
        width: 25px;
    }
    
    
    .nav {
        position: absolute;
        width: 100%;
        top: 50px;
        left: 0;
        height: 0;
        background-color:black;
        transition: .5s;
        overflow: hidden;
    }
    .nav ul  {
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: .5s;
        opacity: 0;
    }
    .nav ul li {
        margin-bottom: 50px;
    }
    .nav.active{
        height: 450px;
    }
    .nav.active ul{
opacity: 1;
    }
    #Home{
        width: 100vw;
        height: 100vh;
        place-items: center;
    }
    #About{
        width: 100%;
        height: 100%;
    }
    .about-content{
        display: block;
    }
    .about-left{
        height: 50%;
        width: 100%;
    }
    .about-right{
        height: 50%;
        width: 100%;
    }
    
    #Courses{
        width: 100%;
        height: 100%;
    }
    .courses{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #Contacts{
        width: 100%;
        height: 100%;
        padding-bottom: 50px;
    }
    
    
    .container{
        display: flex;
        flex-direction: column;
        place-items: center;
    }
    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-links,
    .footer-contact {
        flex: 1;
        width: 100%;
        text-align: center;
    }
    
}

#Contacts{
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
}
  .wrapper{
    height: 100%;
    width: 80%;
    background-image:linear-gradient(rgba(0,0,0,.75),rgba(0,0,0,.75)), url(vector.jpg);
    background-position: center;
    background-size: cover;
    border-radius:.2rem;
    position: relative;
    margin: 20px auto;

  }
 
  .contact-content{
    height: 80vh;
    width: 100%;
    display: flex;
    place-items: center;
    flex-direction: column;
     
    
  }
  
  .input{
    margin-top: 20px;
    width: 60%;
    padding: .5rem 0;
    text-align: center;
  }
  .submit-btn{
    background-color:rgb(134, 7, 253);
    border: none;
    border-radius: .5rem;
    padding: 1rem 2rem;
    margin-top:20px;
    color:white;
    cursor: pointer;
  }
  .submit-btn:hover{
    background-color: #fff;
    color: #1f1f1f;
  }
 
  h2{
    color:white;
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
  }
  p{
    font-family: 'poppins',sans-serif;
    font-size: 14px;
    text-align: center;
  }
  
 /* Add styles for the footer */
footer {
    background-color: black;
    padding: 40px 0;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin:0 150px;
}

.footer-links {
    margin-bottom: 20px;
}


.footer-links h3 {
    font-size: 18px;
    color: rgb(3, 253, 157);
    margin-bottom: 10px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
    
}

.footer-links a {
    color: #fff;
    text-decoration: none;
}
.footer-links a:hover{
    color: antiquewhite;
    transition: .2s;
}

.footer-contact {
    
    margin-bottom: 20px;
    color: #fff;
}
.footer-contact h3{
    color: rgb(161, 67, 249);
}

.footer-bottom {
    text-align: center;
    padding-top: 20px;
    background-color: blueviolet;
    color: #fff;

}

.footer-bottom p {
    font-size: 14px;
    margin: 0;
}


